In [1]:
import pandas as pd 
import numpy as np 

df = pd.read_excel('merge.xlsx')
del df['Unnamed: 0']
df.shape

(13145, 10)

In [2]:
df.head()

,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link,Email
0,eXp Commercial - Business Brokerage Division,0fir,Sagron,0fir Sagron,+1 424-239-9920,"West Hollywood, California",West Hollywood,California,https://www.ibba.org/broker-profile/california...,ofir.sagron@expcommercial.com
1,Bristol Group,NaN,NaN,A M,+1 972-665-8760,"Dallas, Texas",Dallas,Texas,https://www.bizquest.com/business-broker/brist...,NaN
2,"Florida Business Exchange, Inc.",A. Bert,Risdon,A. Bert Risdon,+1 386-310-2211,"Daytona Beach, Florida",Daytona Beach,Florida,https://www.ibba.org/broker-profile/florida/da...,bert.risdon@fbxbrokers.com
3,MarketPoint Advisors,A. John,Richwine,A. John Richwine,+1 904-996-0699,"Duval County, FL",Duval County,Florida,https://www.bizbuysell.com/business-broker/a-j...,NaN
4,MarketPoint Advisors,A. John,Richwine,A. John Richwine,+1 904-996-0699,Florida,NaN,Florida,https://www.bizquest.com/business-broker/marke...,NaN

In [3]:
df = df.drop_duplicates(subset='Corporate Phone', keep='first')
df.shape

(6691, 10)

In [5]:
df = df.sort_values(by='State')
df.head()

,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link,Email
6273,Live Oak Business Advisors,John,Luedecke,John Luedecke,+1 404-973-9901,"Daphne, Alabama",Daphne,Alabama,https://www.ibba.org/broker-profile/alabama/da...,andy@myperfectfranchise.net
10058,OLD Inc Business Brokers,Rebecca,Walker-Jones,Rebecca Walker-Jones,+1 334-456-8528,"Auburn, Alabama",Auburn,Alabama,https://www.ibba.org/broker-profile/alabama/au...,rwj@oldinc.net
6991,eXp Commercial LLC,Keith,Andrews,Keith Andrews,+1 205-451-8889,"Hoover, Alabama",Hoover,Alabama,https://www.ibba.org/broker-profile/alabama/ho...,keith.andrews@expcommercial.com
3494,Sunbelt Business Brokers,Don,Smith,Don Smith,+1 205-879-7220,"Birmingham, Alabama",Birmingham,Alabama,https://www.bizquest.com/business-broker/sunbe...,NaN
7942,Quinn RE Sales,Mandy,Quinn,Mandy Quinn,+1 205-882-3148,"Birmingham, Alabama",Birmingham,Alabama,https://www.bizquest.com/business-broker/quinn...,NaN

In [6]:
df = df.reset_index(drop=True)
df.head()

,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link,Email
0,Live Oak Business Advisors,John,Luedecke,John Luedecke,+1 404-973-9901,"Daphne, Alabama",Daphne,Alabama,https://www.ibba.org/broker-profile/alabama/da...,andy@myperfectfranchise.net
1,OLD Inc Business Brokers,Rebecca,Walker-Jones,Rebecca Walker-Jones,+1 334-456-8528,"Auburn, Alabama",Auburn,Alabama,https://www.ibba.org/broker-profile/alabama/au...,rwj@oldinc.net
2,eXp Commercial LLC,Keith,Andrews,Keith Andrews,+1 205-451-8889,"Hoover, Alabama",Hoover,Alabama,https://www.ibba.org/broker-profile/alabama/ho...,keith.andrews@expcommercial.com
3,Sunbelt Business Brokers,Don,Smith,Don Smith,+1 205-879-7220,"Birmingham, Alabama",Birmingham,Alabama,https://www.bizquest.com/business-broker/sunbe...,NaN
4,Quinn RE Sales,Mandy,Quinn,Mandy Quinn,+1 205-882-3148,"Birmingham, Alabama",Birmingham,Alabama,https://www.bizquest.com/business-broker/quinn...,NaN

In [7]:
df.isnull().sum()

Company             430
First Name          107
Last Name           118
Full Name             0
Corporate Phone       1
Location              0
City                843
State                 4
Profile Link          2
Email              5237
dtype: int64

In [8]:
phone_null = df[df['Corporate Phone'].isnull()]
display(phone_null)

,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link,Email
3462,NaN,Alan,Horn,Alan Horn,NaN,"Vienna, Virginia",Vienna,Virginia,https://www.ibba.org/broker-profile/virginia/v...,alan@horizonbrokers.com

In [10]:
df.loc[3462, 'Corporate Phone'] = '+1 202-487-0444'

In [11]:
df.isnull().sum()

Company             430
First Name          107
Last Name           118
Full Name             0
Corporate Phone       0
Location              0
City                843
State                 4
Profile Link          2
Email              5237
dtype: int64

In [12]:
state_null = df[df['State'].isnull()]
display(state_null)

,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link,Email
6687,Sitar Realty Company TCN WORLDWIDE,Helena,Loelius,Helena Loelius,+1 732-449-2000,"Sea Girt,, New Jersey",Sea Girt,NaN,https://www.bizquest.com/business-broker/sitar...,NaN
6688,"Burley Consulting, LLC",John,Burley,John Burley,+1 301-458-0884,"Gaithersburg,, Maryland",Gaithersburg,NaN,https://www.bizquest.com/business-broker/burle...,NaN
6689,"Action Realty Task, Inc",Mooney,Lee,Mooney Lee,+1 714-823-7171,"La Palma,, California",La Palma,NaN,https://www.bizquest.com/business-broker/actio...,NaN
6690,Restaurant Realty Company,Patrick,Totah,Patrick Totah,+1 415-602-9131,"San Rafael,, California",San Rafael,NaN,https://www.bizquest.com/business-broker/resta...,NaN

In [13]:
df.loc[6687, 'State'] = 'New Jersey'
df.loc[6688, 'State'] = 'Maryland'
df.loc[6689, 'State'] = 'California'
df.loc[6690, 'State'] = 'California'

In [14]:
df.isnull().sum()

Company             430
First Name          107
Last Name           118
Full Name             0
Corporate Phone       0
Location              0
City                843
State                 0
Profile Link          2
Email              5237
dtype: int64

In [15]:
link_null = df[df['Profile Link'].isnull()]
display(link_null)

,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link,Email
3394,Adam Warner CRE Brokered by Exp Commercial,Heidi,Shavor,Heidi Shavor,+1 512-713-9791,"Smithfield, Utah",Smithfield,Utah,NaN,NaN
3520,Exit Equity LLC,Marquita,Causey,Marquita Causey,+1 361-253-7713,"Edmonds, Washington",Edmonds,Washington,NaN,NaN

In [16]:
df.reset_index(drop=True)
df.head()

,Company,First Name,Last Name,Full Name,Corporate Phone,Location,City,State,Profile Link,Email
0,Live Oak Business Advisors,John,Luedecke,John Luedecke,+1 404-973-9901,"Daphne, Alabama",Daphne,Alabama,https://www.ibba.org/broker-profile/alabama/da...,andy@myperfectfranchise.net
1,OLD Inc Business Brokers,Rebecca,Walker-Jones,Rebecca Walker-Jones,+1 334-456-8528,"Auburn, Alabama",Auburn,Alabama,https://www.ibba.org/broker-profile/alabama/au...,rwj@oldinc.net
2,eXp Commercial LLC,Keith,Andrews,Keith Andrews,+1 205-451-8889,"Hoover, Alabama",Hoover,Alabama,https://www.ibba.org/broker-profile/alabama/ho...,keith.andrews@expcommercial.com
3,Sunbelt Business Brokers,Don,Smith,Don Smith,+1 205-879-7220,"Birmingham, Alabama",Birmingham,Alabama,https://www.bizquest.com/business-broker/sunbe...,NaN
4,Quinn RE Sales,Mandy,Quinn,Mandy Quinn,+1 205-882-3148,"Birmingham, Alabama",Birmingham,Alabama,https://www.bizquest.com/business-broker/quinn...,NaN

In [17]:
df.shape

(6691, 10)

In [18]:
df.to_excel('broker_mega_file.xlsx')

In [19]:
df.duplicated().sum()

0